<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Art Gallery{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('theme/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Fontawesome template -->
    <link rel="stylesheet" type="text/css" href="{{ asset('fontawesome/webfonts/fa-solid-900.svg') }}" />

    <!-- Custom styles for this template -->
    <link href="{{ asset('theme/css/heroic-features.css') }}" rel="stylesheet">
{% block stylesheets %}
{% endblock %}
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('gallery_index') }}"><i class="fa fa-palette"></i> Art Gallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('gallery_index') }}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('product_index') }}">Gallery</a>
                    </li>
                {% if app.getUser() and app.getUser().isAdmin() %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('product_new') }}">New Product</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('product_category') }}">New Category</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('product_author') }}">New Author</a>
                    </li>
                {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('product_category')}}"></a>
                            <a class="dropdown-item" href="{{ path('product_category') }}">Painting</a>
                            <a class="dropdown-item" href="{{ path('product_category') }}">Sculpture</a>
                        </div>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_profile') }}"><i class="fas fa-shopping-cart"></i></a>
                </li>
                    {#<li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>#}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_register') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_login') }}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
{% block body %}

{% endblock %}
</div>
<!-- /.container -->

{% block footer %}
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Milena Valcheva 2018</p>
    </div>
    <!-- /.container -->
</footer>
{% endblock %}

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('theme/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('theme/vendor/bootstrap/js/bootstrap.bundle.min.js') }}">
</script><script src="{{ asset('fontawesome/js/all.min.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>

</html>
