{% extends 'base.html.twig' %}

{% block body %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Welcome to Art Gallery!</h1>
        <p class="lead">Catalog of works spanning the last few years -
            including some Limited Edition Prints and nearly 200 original works of art.</p>
        <a href="{{ path('product_index') }}" class="btn btn-primary btn-lg">Call to action!</a>
    </header>


    <!-- Page Features -->
    <div class="row text-center">
        {% for product in products %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{ product.picture }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ product.title }}</h4>
                        <h6 class="card-title">{{ product.author }}</h6>
                        <p class="card-text">{{ product.summary }}</p>
                        <div class="pull-right" style="font-size: smaller">
                            <a class="card-link" href="{{ path('product_show', {'id': product.id}) }}">Read more &raquo;</a>
                        </div>
                        <br>

                        <h3 class="card-title">{{ product.price }}$</h3>
                    </div>
                <div class="card-footer">
                    <a href="{{ path('product_index') }}" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
{% endfor %}
    </div>
    <!-- /.row -->
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
    .my-4{
        margin-top: 20px;
        background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }

</style>
{% endblock %}
