{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Features -->
    <br>
    <br>

    <div class="row text-center">

        {% for product in products %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="{{ product.picture }}" alt="" width="500" height="325">
                <div class="card-body">
                    <h4 class="card-title">{{ product.title }}</h4>
                    <p class="card-text">{{ product.note }}</p>
                    <h3 class="card-title">{{ product.price }}$</h3>
                </div>
                <div class="card-footer">
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->
    <br>

{% endblock %}
