{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Features -->

    <div class="row text-center">

        {% for product in products %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="{{ product.picture }}">
                <div class="card-body">
                    <h4 class="card-title">{{ product.title }}</h4>
                    <h6 class="card-title">{{ product.author }}</h6>
                    <p class="card-text">{{ product.summary }}</p>
                        <div class="pull-right" style="font-size: smaller">
                            <a class="card-link" href="{{ path('product_show', {'id': product.id}) }}">Read more &raquo;</a>
                        </div>
                    <br>

                    <h3 class="card-title">{{ product.price }}$</h3>
                </div>
                <div class="card-footer">
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-primary">Find Out More!</a>
                    <a href="{{ path('user_profile') }}" class="btn btn-primary">Buy!</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->
    {% block stylesheets %}
        <style>
            .row{
                padding: 70px 0 10px 0;
            }
        </style>

    {% endblock %}

{% endblock %}
