{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>

    <form style="width: 30rem;" enctype="multipart/form-data" action="{{ path('product_new') }}" method="post">
        <div class="form-group">
            <label for="product_title" class="required">Title</label>
            <input name="product[title]" type="text" class="form-control" id="product_title" required="required" placeholder="Enter title">
        </div>

        <div class="form-group">
            <label for="product_category" class="required">Category</label>

            <select name="product[category]" id="product_category" class="form-control">
                <option value="0" selected>Choose...</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}

            </select>
        </div>

        <div class="form-group">
            <label for="product_author" class="required">Author</label>

            <select name="product[author]" id="product_author" class="form-control">
                <option value="0" selected>Choose...</option>
                {% for author in authors %}
                    <option value="{{ author.id }}">{{ author.name }}</option>
                {% endfor %}

            </select>
        </div>

        <div class="form-group">
            <label for="product_note" class="required">Note</label>
            <textarea name="product[note]" type="text" class="form-control" id="product_note" required="required" placeholder="Enter note"></textarea>
        </div>

        <div class="form-group">
            <label for="product_size" class="required">Size</label>
            <input name="product[size]" type="text" class="form-control" id="product_size" required="required" placeholder="Enter size">
        </div>

        <div class="form-group">
            <label for="product_material" class="required">Material</label>
            <input name="product[material]" type="text" class="form-control" id="product_material" required="required" placeholder="Enter material">
        </div>

        <div class="form-group">
            <label for="product_price" class="required">Price</label>
            <input name="product[price]" type="number" class="form-control" id="product_price" required="required" placeholder="Enter price">
        </div>

        <div class="form-group">
            <label for="product_picture" class="required">Image</label>
            <input name="product[picture]" type="text" class="form-control" id="product_picture" required="required" placeholder="Enter image URL">
        </div>

        <br>

        {{ form_row(form._token) }}

        <div style="width: 30rem;">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a class="btn btn-outline-primary" href="{{ path('product_index') }}">Back to the gallery</a>
        </div>

    </form>

    <br>
    <br>
    <br>
{% endblock %}
