{% extends 'base.html.twig' %}

{% block body %}
    <h2 id="hello">Hello, {{ user.fullName }}!</h2>

    {% if not products %}
        <h4 id="not"><i class="fa fa-shopping-basket"></i>   Your basket is empty!</h4>
    {% endif %}
    {% set total = 0 %}
    {% for product in products %}
        {% set total = total + product.product.price * product.count %}
<div class="col-lg-3 col-md-6 mb-4">
    <div class="card bg-light mb-3" style="width: 18rem;">
        <div class="card-header">
               Title: {{ product.product.title }}
        </div>
        <div class="card-body">
            <p class="card-text ">Count: {{ product.count }}</p>
            <p class="card-text">Price: {{ product.product.price * product.count }}</p>
        </div>
    </div>
    <div class="card-body">
        <a class="btn btn-outline-secondary" href="{{ path('product_index') }}">Back</a>
        <a class="btn btn-outline-danger" href="{{ path('cart_remove', {'id' : product.product.id}) }}">Delete</a>
    </div>
</div>
    {% endfor %}
<div class="col-lg-3 col-md-6 mb-4">
    <div class="card text-white bg-primary mb-3" style="width: 18rem;">
        <div class="card-header">Total price: {{ total }}</div>
    </div>
</div>
    {% block stylesheets %}
      <style>
            #hello{
                padding-top: 50px;
            }
            #not{
                margin: 40px 0 295px 0;
            }
          .btn-outline-danger, .btn-outline-secondary{
              margin-left: 0.5em;
          }

        </style>

    {% endblock %}

{% endblock %}

